---
import About from "@/components/About.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
import GetInvolved from "@/components/GetInvolved.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Impact from "@/components/Impact.astro";
import NewsEvents from "@/components/NewsEvents.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Impact />
    <GetInvolved />
    <NewsEvents />
    <Contact />
  </main>
  <Footer />
</Layout>
